<br />
<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 align="center">Login</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= form_for :session, url: login_path do |f| %>
            <div class="col-xs-12" align="center">
              <%= f.text_field :email, class: 'form-control', placeholder: 'email@domain.tld' %>
              <br />
            </div>
            <div class="col-xs-12" align="center">
              <%= f.password_field :password, class: 'form-control', placeholder: 'Password',
                                   autocomplete: 'off' %>
              <br />
            </div>
            <div class="col-xs-12" align="center">
              <hr />
              <%= f.submit 'Login', class: 'btn btn-sm btn-primary' %>
            </div>
          <% end %>
          <div class="col-xs-12" align="center">
            <%= link_to 'Halp!  I forgot my login!', recover_login_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
