<div class="row">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4><%= link_to article.title, article_path(article) %></h4>
      <small class="author">
        by: <%= link_to article.user.username, user_path(article.user) %>
        <span class="timing">
          <%= time_ago_in_words(article.created_at) %> ago
          <% if article.created_at != article.updated_at %>
          (Last Updated: <%= time_ago_in_words(article.updated_at) %> ago)
          <% end %>
        </span>
        <div class="tags pull-right">
          Tags: <%= article.tags.any? ? article.tags.join(', ') : '<span style="font-style: italic;">No Tags</span>'.html_safe %>
        </div>
      </small>
    </div>
    <% if article.comments.any? %>
    <% end %>
    <div class="panel-body">
      <%= (preview ||= false) ? truncate(article.body, length: 100) : sanitize(article.body.gsub(/\n/, '<br/>'), tags: ['br']) %>
    </div>
    <div class="panel-footer">
      <small><%= "#{pluralize(article.comments.size, 'Comment')}" %></small>
      <div class="actions pull-right">
        <% if edit_allowed? article.user_id %>
          <%= link_to 'Edit', edit_article_path(article),
                      class: 'btn btn-xs btn-primary',
                      style: 'color: white;' %>
          &nbsp;
        <% end %>
        <% if destroy_allowed? article.user_id %>
          <%= link_to 'Delete', article_path(article), method: :delete,
                      class: 'btn btn-xs btn-danger',
                      style: 'color: white;',
                      data: { confirm: 'Are you sure?' } %>
          &nbsp;
        <% end %>
        <%= link_to 'Comment', new_comment_path(article),
                    class: 'btn btn-xs btn-success',
                    style: 'color: white;' %>
        &nbsp;
      </div>
    </div>
  </div>
</div>
