<%= render 'components/errors', obj: @article %>

<%= form_for @article do |f| %>
  <div class="col-xs-8 col-xs-offset-2">
    <%= f.label :title %><br />
    <%= f.text_field :title, class: "form-control" %><br />
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <%= f.label :body %><br />
    <%= f.text_area :body, class: "form-control" %><br />
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <fieldset>
      <legend>Tags</legend>
      <label><%= f.check_box :tags, { multiple: true }, 'A', nil %> A</label>
      <label><%= f.check_box :tags, { multiple: true }, 'B', nil %> B</label>
      <label><%= f.check_box :tags, { multiple: true }, 'c', nil %> C</label>
      <label><%= f.check_box :tags, { multiple: true }, 'X', nil %> X</label>
      <label><%= f.check_box :tags, { multiple: true }, 'Y', nil %> Y</label>
      <label><%= f.check_box :tags, { multiple: true }, 'Z', nil %> Z</label>
    </fieldset>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Back to Index", articles_path %>
