<%= render 'components/errors', obj: @article %>

<div class="form-group">
<%= form_for @article do |f| %>
  <div class="col-xs-8 col-xs-offset-2">
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title of Article' %><br />
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <%= f.text_area :body, class: 'form-control', placeholder: 'Body of article.' %><br />
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <fieldset>
      <legend>Tags</legend>
      <% %w{A B C D E F}.each do |tag| %>
      <label><%= f.check_box(:tags, { multiple: true }, tag, nil) << tag %></label>
      <% end %>
    </fieldset>
  </div>
  <div class="col-xs-8 col-xs-offset-2" align="center">
    <%= f.submit class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>
</div>
