<div class="container">
  <h2 align="center">Published Articles</h2>
  <div class="well well-lg col-xs-8 col-xs-offset-2">
  <% if @articles.any? %>
    <% @articles.sort { |a, b| b.updated_at <=> a.updated_at } .each do |article| %>
      <div class="row">
        <div class="well well-sm article">
          <div class="title">
            <%= link_to article.title, article_path(article) %>
            <small class="author">
              by: <%= article.user.username %>
              <span class="timing">
                <%= time_ago_in_words(article.created_at) %> ago
                <% if article.created_at != article.updated_at %>
                (Last Updated: <%= time_ago_in_words(article.updated_at) %> ago)
                <% end %>
              </span>
            </small>
          </div>
          <div class="tags">
            <small>
              Tags: <%= article.tags.any? ? article.tags.join(', ') : '<span style="font-style: italic;">No Tags</span>'.html_safe %>
            </small>
          </div>
          <% if article.comments.any? %>
          <div class="comments">
            <small>
              Comments: <%= article.comments.size %>
            </small>
          </div>
          <% end %>
          <div class="body">
            <%= truncate(article.body, length: 100) %>
          </div>
          <div class="actions">
            <%= link_to 'Edit', edit_article_path(article),
                        class: 'btn btn-xs btn-primary',
                        style: 'color: white;' %>&nbsp;
            <%= link_to 'Delete', article_path(article), method: :delete,
                        class: 'btn btn-xs btn-danger',
                        style: 'color: white;',
                        data: { confirm: 'Are you sure?' } %>&nbsp;
            <%= link_to 'Comment', new_comment_path(article),
                        class: 'btn btn-xs btn-success',
                        style: 'color: white;' %>&nbsp;
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-8 col-xs-offset-2">
      There are no articles. Create a new article
      <%= link_to 'here', new_article_path %>.
    </div>
  <% end %>
  </div>
</div>
