<div class="container">
  <h2 align="center"><%= @article[:title].html_safe %></h2>
  <div class="col-xs-4 col-xs-offset-2">
    <small>
      <b>Tags:</b>
      <% if @article[:tags].any? %>
          <%= @article[:tags].map { |tag| tag.html_safe }.join(', ') %>
      <% else %>
        <span style="font-style: italic;">No Tags</span>
      <% end %>
    </small>
  </div>
  <div class="col-xs-4" align="right">
    <%= link_to "edit", edit_article_path(@article) %>
    <%= link_to "delete", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?" } %>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well"><%= @article[:body].html_safe %></div>
  </div>
</div>
