<div class="container">
  <h2 align="center">
    <%= pluralize(@tag[:volume], 'Article') %> for
    "<strong><em>
      <%= @tag[:tag] %>
      <span class="badget"></span>
    </em></strong>"
  </h2>

  <div class="well well-lg col-xs-8 col-xs-offset-2">
    <% if @articles.any? %>
      <div align="center"><%= will_paginate %></div>
      <% @articles.each do |article| %>
        <%= render 'article', article: article, preview: true %>
      <% end %>
      <div align="center"><%= will_paginate %></div>
    <% else %>
      <div class="col-xs-8 col-xs-offset-2">
        There are no articles. Create a new article
        <%= link_to 'here', new_article_path %>.
      </div>
    <% end %>
  </div>
</div>
