<div class="container">
  <div class="well well-sm col-xs-8 col-xs-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="media">
          <div class="media-left">
            <%= avatar_for(@user, size: 80) %>
          </div>
          <div class="media-body">
            <% if logged_in? && @user.id == current_user.id %>
              <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-xs btn-info pull-right' %>
            <% end %>
            <h2 align="center">
              <%= @user.username %>'s Profile
            </h2>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <strong>Email:</strong> <%= @user.email %><br/>
        <strong>Articles:</strong> <%= @user.articles.count %><br/>
        <strong>Comments:</strong> <%= @user.comments.count %>
      </div>
    </div>
  </div>

  <div class="well well-sm col-xs-8 col-xs-offset-2">
    <h4 align="center"><%= @user.username %>'s Articles</h4>
    <% if @user.articles.any? %>
      <% @user_articles.each do |article| %>
        <%= render 'articles/article', article: article, preview: true %>
      <% end %>
      <div align="center"><%= will_paginate @user_articles %></div>
    <% else %>
      This user has not created any articles.
    <% end %>
  </div>
</div>
