<div class="container">
  <div class="row">
    <div class="page-header">
      <h1><%=t '.title', default: Image.model_name.human.pluralize.titleize %>

        <%= link_to t('.new', default: t("helpers.links.new")),
                new_image_path,
                class: 'btn btn-primary' %>
      </h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= Image.human_attribute_name(:picture) %></th>
          <th><%= Image.human_attribute_name(:data) %></th>
          <th><%=t '.actions', default: t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @images.each do |image| %>
          <tr>
            <td>
              <%= link_to image_tag(image.picture.url,
                                    size: image.scale(100, 100),
                                    alt: image.name), image_path(image) %>
            </td>
            <td>
              Name: <%= link_to image.name, image_path(image) %><br/>
              User: <%= image.user.email %><br/>
              Date: <small><%= l image.created_at %></small><br/>
              Size: <%= "#{image.width}x#{image.height}" %> Pixels
                    (<%= number_to_human_size image.picture.size %>)
            </td>
            <td>
              <%= link_to t('.edit', default: t("helpers.links.edit")),
                          edit_image_path(image), class: 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                          image_path(image),
                          method: :delete,
                          data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                          class: 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
