<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash.any? %>
    <ul>
    <% flash.each do |n, m| %>
      <li class="<%= n %>"><%= html_escape(m) %></li>
    <% end %>
    </ul>
  <% end %>

<%= yield %>

</body>
</html>
