<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.env == 'development' ? '(dev)' : '' %> Stock Masters (Ruby on Rails)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/elements/navbar' %>
<%= render 'layouts/elements/flash' %>

<%= yield %>

<%= render 'layouts/elements/footer' %>

</body>
</html>
